<html>

<head>
  <title>{{ .title }}</title>

  <!-- UIkit CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/css/uikit.min.css" />

  <!-- UIkit JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/js/uikit.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/js/uikit-icons.min.js"></script>

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg"
    crossorigin="anonymous">

  <!-- Custom styles -->
  <link rel="stylesheet" href="/assets/styles.css" />

</head>

<body>
  <div id="app" class="uk-container uk-width-1-2@m">

    <h2>My account</h2>

    {{ if not .enabled  }}
    <div class="uk-alert-danger" uk-alert>
        <p>Two-factor authentication is OFF. <a href="/twofactor/enable">Enable</a></p>
    </div>
    {{ end }}
  
    {{ if .enabled }}
    <div class="uk-alert-primary" uk-alert>
        <p>Two-factor authentication is ON. <a href="/twofactor/disable">Disable</a></p>
    </div>
    {{ end }}

    <a href="/logout">Log out</a>

  </div>
</body>

</html>