<html>

<head>
  <title>{{ .title }}</title>

  <!-- UIkit CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/css/uikit.min.css" />

  <!-- UIkit JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/js/uikit.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/js/uikit-icons.min.js"></script>

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg"
    crossorigin="anonymous">

  <!-- Custom styles -->
  <link rel="stylesheet" href="/assets/styles.css" />

</head>

<body>
  <div id="app" class="uk-container uk-width-1-2@l">

    <img src="/assets/logo.png" style="width: 300px"/>

    <h2>Server integration sample app</h2>

    <p>
      We have created this sample application to demonstrate how to implement and use our API and web service.
    </p>

    <p class="uk-margin-large-top uk-text-center">
      <a href="/login" class="uk-button uk-button-primary">Try</a>
      <a href="https://docs.twostep.io/api/index.html" class="uk-button uk-button-secondary" target="_blank">API Doc</a>
      <a href="https://github.com/objectia/twostep-example-go" class="uk-button uk-button-default" target="_blank">
        <i class="fab fa-github"></i> Code</a>
    </p>

  </div>
</body>

</html>