<html>

<head>
  <title>{{ .title }}</title>

  <!-- UIkit CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/css/uikit.min.css" />

  <!-- UIkit JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/js/uikit.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/js/uikit-icons.min.js"></script>

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg"
    crossorigin="anonymous">

  <!-- Custom styles -->
  <link rel="stylesheet" href="/assets/styles.css" />

</head>

<body>
  <div id="app" class="uk-container uk-width-1-3@l uk-width-1-2@m">
    <h2>Two-factor authentication</h2>

      <form class="uk-form-stacked">

        <div class="uk-margin">
          <label class="uk-form-label" for="form-stacked-text">Enter the verification code</label>
          <div class="uk-form-controls">
            <input class="uk-input" id="form-stacked-text" type="text" v-model="code" autofocus>
          </div>
        </div>

        <div class="uk-margin">
          <button class="uk-button uk-button-primary" v-on:click="submitForm">Verify</button>
          <a href="/logout" class="uk-margin-left">Cancel</a>
        </div>

      </form>

  </div>
  


  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.0"></script>
  <script>
    var app = new Vue({
      el: "#app",
      data: {
        code: ""
      },
      methods: {
        submitForm: function (e) {
          e.preventDefault();
          this.$http.post("/login/verify", {
            code: this.code
          }).then(function (response) {
            // Success, redirect to account
            window.location.href = "/account";
          }, function (response) {
            // Error
            console.log(response.data)
            alert(response.data.message);
          });
        }
      }
    });
  </script>

</body>

</html>