<html>

<head>
  <title>{{ .title }}</title>

  <!-- UIkit CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/css/uikit.min.css" />

  <!-- UIkit JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/js/uikit.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/js/uikit-icons.min.js"></script>

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg"
    crossorigin="anonymous">

  <!-- Custom styles -->
  <link rel="stylesheet" href="/assets/styles.css" />

</head>

<body>
  <div id="app" class="uk-container uk-width-1-2@m">

    <h2>Enable two-factor authentication (OTP)</h2>

    <p>
      Scan the QR code with your mobile phone app (Twostep, Google Authenticator or similar).
    </p>

    <p>
      <img src="{{ .image }}" />
    </p>

    <p>
      Enter verification code from your device:<br/>
      <input type="text" class="uk-input" v-model="code" autofocus>
    </p>

    <p>
      <button class="uk-button uk-button-primary" v-on:click="submitForm">Verify</button>
      <a href="/account" class="uk-margin-left">Cancel</a>
    </p>

  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.0"></script>
  <script>
    var app = new Vue({
      el: "#app",
      data: {
        code: ""
      },
      methods: {
        submitForm: function (e) {
          e.preventDefault();
          this.$http.post("/twofactor/otp", {
            code: this.code
          }).then(function (response) {
            // Success, redirect to account
            window.location.href = "/account";
          }, function (response) {
            // Error
            console.log(response.data)
            alert(response.data.message);
          });
        }
      }
    });
  </script>
</body>

</html>